/* --------------- Global ---------------------- */
:root {
    --main-color: #748182;
    --secondary-color: #343434;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color);
    font-family: "Montserrat", sans-serif;
}

.navbar-brand {
    font-family: "Montserrat", sans-serif;
}

.tittle {
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 900;
}

.tittle h2::after {
    content: "";
    width: 30%;
    height: 30px;
    background: url('../images/dots.png');
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 35%;
    z-index: -1;
}

.tittle h2 {
    font-size: 40px !important;
    z-index: 44;
}

/* ------------------------- Start Loading --------------- */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999999999;
}
.loading::after, .loading::before {
    content: "";
    background: #fff;
    height: 50%;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 1s;
}
.end::after {
    top: -60%;
}
.loading:before {
  bottom: 0;
}
.loading::after {
    top: 0;
}
.loading .circle-load {
    margin: 50vh auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid #e8e8e8;
    border-top: 10px solid #000;
    animation: rotate 1.2s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ------------------------- End Loading --------------- */

/* ------------------------- Start Nav --------------- */

nav ul>li>.nav-link {
    font-size: .8125rem;
}

nav ul>li>.nav-link::after {
    content: "";
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 5PX;
    left: 8px;
    transition: all 0.5s;
}

nav ul>li>.nav-link.active::after {
    width: 70%;
}

.second_nav {
    background-color: #fff;
    color: #111111 !important;
    padding: 0 auto;
    height: 60px;
    transition: 0.5s;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2);

    a {
        color: #111111 !important;
    }

    ul>li>.nav-link::after {
        background-color: #111111;
    }

    button i {
        color: #111111 !important;
    }
}

.navbar .navbar-toggle:hover,
.navbar-toggler:focus {
    background-color: transparent !important;
    outline: unset !important;
    box-shadow: unset !important;
}

.navbar-toggler {
    border: unset !important;
}


@media screen and (max-width: 768px) {
    .navbar .navbar-collapse {
        text-align: center !important;
        border: none;
        border-top: 1px solid rgba(12, 12, 12, 0.04);
        background: #fff;
        margin-top: 5px;
        padding: 0;
        width: 100% !important;
    }

    nav ul>li>.nav-link {
        color: #111111 !important;
        margin-bottom: 10px;
        margin-left: 0 !important;
    }

    nav ul>li>.nav-link.active::after {
        width: 0;
    }
}

/* ------------------------- End Nav ----------------- */

/* ------------------------- Start Home --------------- */

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home .content i {
    padding: 10px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.home h4::after {
    content: ' |';
    position: absolute;
    font-weight: 600;
    margin-left: 10px;
    animation: typing 6s linear infinite;
}


@keyframes typing {
    0% {
        content: "";
    }

    2% {
        content: " D|";
    }

    4% {
        content: " De|";
    }

    6% {
        content: " Dev|";
    }

    8% {
        content: " Deve|";
    }

    10% {
        content: " Devel|";
    }

    12% {
        content: " Develo|";
    }

    14% {
        content: " Develop|";
    }

    16% {
        content: " Develope|";
    }

    18% {
        content: " Developer|";
    }

    20% {
        content: " Developer|";
    }

    22% {
        content: " Develope|";
    }

    24% {
        content: " Develop|";
    }

    26% {
        content: " Develo|";
    }

    28% {
        content: " Devel|";
    }

    30% {
        content: " Deve|";
    }

    32% {
        content: "  Dev|";
    }

    34% {
        content: " De|";
    }

    36% {
        content: " D|";
    }

    38% {
        content: " |";
    }

    40% {
        content: " D|";
    }

    42% {
        content: " De|";
    }

    44% {
        content: " Des|";
    }

    46% {
        content: " Desi|";
    }

    48% {
        content: " Desig|";
    }

    50% {
        content: " Design|";
    }

    52% {
        content: " Designe|";
    }

    54% {
        content: " Designer|";
    }

    56% {
        content: " Designer|";
    }

    58% {
        content: " Designe|";
    }

    60% {
        content: " Design|";
    }

    62% {
        content: " Desig|";
    }

    64% {
        content: " Desi|";
    }

    66% {
        content: " Des|";
    }

    68% {
        content: " De|";
    }

    70% {
        content: " D|";
    }

    72% {
        content: " |";
    }

    74% {
        content: " L|";
    }

    76% {
        content: " La|";
    }

    78% {
        content: " Lar|";
    }

    79% {
        content: " Lary|";
    }

    80% {
        content: " Lary|";
    }

    81% {
        content: " LaryD|";
    }

    82% {
        content: " LaryDa|";
    }

    83% {
        content: " LaryDan|";
    }

    84% {
        content: " LaryDani|";
    }

    85% {
        content: " LaryDanie|";
    }

    86% {
        content: " LaryDaniel|";
    }

    87% {
        content: " LaryDaniels|";
    }

    88% {
        content: " LaryDaniel|";
    }

    89% {
        content: " LaryDanie|";
    }

    90% {
        content: " LaryDani|";
    }

    91% {
        content: " LaryDan|";
    }

    92% {
        content: " LaryDa|";
    }

    93% {
        content: " LaryD|";
    }

    94% {
        content: " Lary|";
    }

    95% {
        content: " Lary|";
    }

    96% {
        content: " Lar|";
    }

    97% {
        content: " La|";
    }

    98% {
        content: " L|";
    }

    100% {
        content: " |";
    }
}

@media screen and (min-width: 768px) {
    .home .content h4 {
        left: -50px;
    }
}

/* ------------------------- End Home ----------------- */

/* ------------------------- End About ----------------- */

.about .about-img .hero {
    padding: 0 0 0 30px;
}

.about .about-img .hero::after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0px;
    bottom: -30px;
    background-image: url('../images/dots.png');
    background-repeat: repeat;
}

.about .about-img .hero img {
    z-index: 44;
}


.about .skills .progress {
    width: 100%;
    height: 1.5rem;
    border-radius: 5px;
    background: #f7f7f7;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
}

.about .skills p:nth-child(2) {
    letter-spacing: 1px;
}

.about .skills button {
    transition: 0.5s !important;
}

.about .skills button:nth-child(1):hover {
    background-color: transparent !important;
    color: #111111;
}


/* ------------------------- End About ----------------- */

/* ------------------------- End Services ----------------- */

.services .card {
    padding: 40px 20px;
    box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
}

.services .card i {
    padding: 25px;
}

.services .card:hover i {
    background-color: #111111 !important;
    color: #fff !important;
    transition: 0.5s;
}

/* ------------------------- End Services ----------------- */

/* ------------------------- Start Portfolio ----------------- */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent;
}

.nav-pills .nav-link::after {
    content: "";
    width: 0;
    height: 2px;
    background: #111;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transition: all 0.4s;
}

.nav-pills .nav-link.active::after {
    width: 90%;
}

.portfolio .inner {
    overflow: hidden;
}

.portfolio .inner .overlay {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.95);
    z-index: 4;
    opacity: 0;
    transition: 0.5s;
}

.portfolio .inner .overlay .icons i:hover {
    cursor: pointer;
    background-color: #fff !important;
    color: #111111 !important;
    border: 1px solid #111111;
    transition: 0.5s;
}

.portfolio .inner:hover .overlay {
    opacity: 1;
    transform: translateY(0px);
}

@media screen and (max-width:768px) {
    .portfolio ul {
        margin-left: 25px;
    }
}


/* ------------------------- End Portfolio ----------------- */


/* ------------------------- End Portfolio ----------------- */
.testimonial .inner {
    width: 95%;
}

.testimonial .inner img {
    width: 90px;
    height: 90px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background-color: var(--bs-carousel-indicator-active-bg);
}

/* ------------------------- End Portfolio ----------------- */

/* ------------------------- End Projects ----------------- */

.projects .inner h3 {
    font-weight: 900;
}

/* ------------------------- End Projects ----------------- */

/* ------------------------- End Projects ----------------- */
.team .inner {
    background-color: rgba(52, 52, 52, .8);
}

.team .inner img {
    transition: 0.5s;
}

.team .inner .overlay {
    background-color: rgba(255, 255, 255, 0.95);
    inset: 10px;
    opacity: 0;
    transition: 0.5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
}

.team .inner:hover .overlay {
    opacity: 1;
    transform: rotateY(0deg) scale(1, 1);
}

.team .inner:hover img {
    transform: scale(1.2, 1.2);
}

.team .inner .overlay .icons {
    top: 50px;
}

.team .inner .overlay .icons i {
    transition: 0.5s;
    font-size: 1.4rem;
    cursor: pointer;
}

.team .inner .overlay .icons i:hover {
    background-color: #fff !important;
    color: #111111;
}

/* ------------------------- End Projects ----------------- */

/* ------------------------- Start Contact ----------------- */
.contact .inner:hover i {
    background-color: #111 !important;
    transition: 0.5s;
    color: #fff !important;
}

.contact input,
.contact textarea {
    background-color: #f4f4f4;
}

.contact input:focus,
.contact textarea:focus {
    background-color: #f4f4f4 !important;
    box-shadow: unset !important;
}

.contact input::placeholder,
.contact textarea::placeholder {
    color: #748182;
    letter-spacing: 1px;
}

.contact button:hover {
    background-color: #fff !important;
    color: #111 !important;
    border: 1px solid #111;
}

/* ------------------------- End Contact ----------------- */

/* ------------------------- End Contact ----------------- */
footer {
    background-color: #1c1c1c;
}

/* ------------------------- End Contact ----------------- */





@media screen and (max-width:1150px) {
    .container {
        width: 95% !important;
    }
}